.container {
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.item {
    max-width: 45%;
}

.list{
    margin-bottom: 5px;
}

.margin {
    margin-top: 20px;
}

button{
    background: cadetblue;
    color: honeydew;
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin-top: 5px;
}

button:hover{
    cursor: pointer;
    color: lemonchiffon;
}
